body{
    background-image: url(./images/105);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}
p{
    color: white;
}
h1,h2{color: black;}
li{color: white;}